<a href="https://colab.research.google.com/github/youngpaper1115/Python_Programming_Example/blob/master/python_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**이름: 이종영**

### 1. 다음 코드의 결괏값은 무엇일까?

In [ ]:
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

# 정답: shirt

shirt

### 2. while문을 사용해 1부터 1000까지의 자연수 중 2의 배수의 합을 구해 보자.

In [ ]:
# 500
result = 0
i = 1
while i <= 1000:
    if i % 2 == 0:
        result += i
    i += 1
print(result)

250500

### 3. 리스트 중에서 짝수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [ ]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 0:
        result.append(n*2)
        
result

[4, 8]

### 위 코드를 리스트 내포를 사용하여 표현해 보자.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [2*i for i in numbers if i % 2 == 0]
print(result)

[4, 8]

### 4. 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수를 작성해 보자.

In [ ]:
def is_odd(number):
    if number % 2 != 0:
        return True
    else:
        return False

In [ ]:
is_odd(3)

True

In [ ]:
is_odd(4)

False

### 5. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자.

In [ ]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

In [ ]:
avg_numbers(1,2,3,4,5,6,7,8,9,10)

5.5

In [ ]:
avg_numbers(1,2,3,4,5)

3.0